body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}
*{
  font-family: 'Inter', system-ui;
}
.wrapper{
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin:50px auto;
}
header{
    border-bottom: 1px solid #eaeaea;
    img{
      margin-right: 15px;
    }

    h3,
    p {
      margin: 0;
    }
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.logo-block {
  display: flex;
  align-items: center;

  h3{
    text-transform: uppercase;
  }
  p{
    opacity: 0.5;
  }
}
.user-block{
  display: flex;
  list-style: none;
  li{
    margin: 10px;
  }
  .user-item {
    justify-content: center;
    display: flex;
    span {
    font-weight: 600;
    font-size: 14px;
    color: #9d9d9d;
    }
  }
}

.content {
  padding: 40px;
  h1{
    margin: 0;
  }
  .header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }
}
.card{
  border:1px solid #F8E8F8;
  padding: 30px;
  width: 220px;
  border-radius: 40px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

  &:hover{ 
    box-shadow: 0px 20px 30px rgba(0,0,0,0.06);
    transform: translateY(-5px);
  }
  .like{
    position: absolute;
    cursor: pointer;
  }
  span{
    font-size: 13px;
    opacity: 0.5;
  }

  b{
    font-size: 13px;
  }

  h5{
    font-weight: 400;
    font-size: 14px;
  }
  .cost-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cost{
    display: flex;
    flex-direction: column;
  }
}
.cart-total-block {
  ul{
    margin-bottom:30px !important;
    cursor:default;
  }
  .green-button{
      width: 100%;
      height: 55px;
      background-color: #9dd558;
      border-radius: 18px;
      border:none;
      color: #fff;
      font-size:16px;
      font-weight: 500;
      margin-top: 10px;
      transition: background 0.1s ease-in-out;
  
      &:hover{
        background: lighten( #9dd558, 5%);
        cursor: pointer;
      }
      &:active{
        background: darken( #9dd558, 5%);
        cursor: pointer;
      }
      
  }
  
}
.green-button{
  position: relative;

  &:hover{
    img{
      transform: translateX(5px);
    }
  }

  img{
    position: absolute;
    right: 35px;
    top: 20px;
    transition: transform 0.2s ease-in-out;
  }
}
.button {
  background-color: #fff;
  border:1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 8px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.search-block{
  border: 1px solid #f3f3f3;
  display: flex;
  border-radius: 10px;
  padding: 0 15px;
  // width: 200px;
  // height: 45px;

  input{
    border:0;
    padding: 13px;
    font-size: 16px;
    width: 200px;
    outline:none;
  }
}

.drawer-overlay{
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

.drawer {
  position: absolute;
  width: 25%;
  height: 100%;
  right: 0;
  background-color: #fff;
  box-shadow: -10px 4px 24px rgba(0,0,0,0.1) ;
  padding: 0 30px 0 30px;
  display: flex;
  flex-direction: column;

  .drawer-items{
    overflow: auto;
    margin-bottom: 40px;
  }
  h2{
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
    cursor:default;

    img{
      cursor: pointer;
    }
  }
}
.drawer-items{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;

  li{
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;

    div{
      flex:1;
      height: 1px;
      border-bottom: 1px dashed #DFDFDF;
      position: relative;
      top: -4px;
      margin: 0 7px;
    }
  }
}
.cart-item {
  display: flex;
  align-items: center;
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  margin-bottom: 20px; 

  .cart-item-img {
    height: 70px;
    width: 70px; 
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 20px;
  }

  img{
    margin: 20px;
  }
  b{
    font-size: 15px;
  }
  p{
    margin: 0;
    margin-bottom: 5;
    font-size: 14px;
    cursor:default;
  }
  .cart-description{
    margin: 20px;
    flex:1;
  }
  .remove-btn{
    opacity: 0.5;
    transition: opacity 0.15s ease-in-out;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}
.card-item{
  display: flex;
}
.drawer-overlay{
  display: none;
}
